<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IHCAFE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IHCAFE.My.MySettings.FacturacionConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Facturacion;User ID=sa;Password=root"
            providerName="System.Data.SqlClient" />
        <add name="IHCAFE.My.MySettings.FasesConnectionString" connectionString="Data Source=(local);Initial Catalog=Fases;Persist Security Info=True;User ID=sa;Password=root"
            providerName="System.Data.SqlClient" />
        <add name="IHCAFE.My.MySettings.LoginConnectionString" connectionString="Data Source=(local);Initial Catalog=Login;Persist Security Info=True;User ID=sa;Password=root"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <IHCAFE.My.MySettings>
            <setting name="MyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="MyPass" serializeAs="String">
                <value />
            </setting>
            <setting name="ChkdPass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChkdUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MyId" serializeAs="String">
                <value />
            </setting>
            <setting name="MyId2" serializeAs="String">
                <value />
            </setting>
            <setting name="MyId3" serializeAs="String">
                <value />
            </setting>
            <setting name="MyId4" serializeAs="String">
                <value />
            </setting>
            <setting name="MyId5" serializeAs="String">
                <value />
            </setting>
            <setting name="MyId6" serializeAs="String">
                <value />
            </setting>
            <setting name="MyId7" serializeAs="String">
                <value />
            </setting>
            <setting name="MyId8" serializeAs="String">
                <value />
            </setting>
            <setting name="MyId9" serializeAs="String">
                <value />
            </setting>
            <setting name="MyId10" serializeAs="String">
                <value />
            </setting>
            <setting name="MyFactura" serializeAs="String">
                <value />
            </setting>
            <setting name="MyCompra" serializeAs="String">
                <value />
            </setting>
            <setting name="MyMovimiento" serializeAs="String">
                <value />
            </setting>
            <setting name="MyOrden" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyUsuario" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyFase" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MySolicitud" serializeAs="String">
                <value>0</value>
            </setting>
        </IHCAFE.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
