<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Properties.Settings.cn" connectionString="Data Source=(local);Initial Catalog=MiBaseDatos;Persist Security Info=True;User ID=sa;Password=rootp"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>